{% extends 'base.html' %}

{% load static %}


{% block tags %}<meta name="keywords" content="Seguro, carro, seguro auto, seguro para carro, automovel, cotação, cotar" > 
{% endblock %}

{% block main %}

	<header>
		<div class="navbar-fixed">	
				<nav>
					<div class="nav-wrapper teal darken-1">
						
						<img style="padding-left: 20px" src='{% static "core/img/logo.png" %}' alt="Logo" width="240px">
						<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
						<ul class="right hide-on-med-and-down">
							<li><a href=""><i class="material-icons left">add_circle_outline</i>Outros Seguros</a></li>				
							<li><a href="faq"><i class="material-icons left">help_outline</i>Perguntas Frequentes</a></li>
							<li><a href="contato"><i class="material-icons left">mail_outline</i>Contato</a></li>
						</ul>
					</div>
				</nav>
				<ul class="sidenav right" id="mobile-demo">
					<li><a href=""><i class="material-icons left">add_circle_outline</i>Outros Seguros</a></li>				
					<li><a href="faq"><i class="material-icons left">help_outline</i>Perguntas Frequentes</a></li>
					<li><a href="contato"><i class="material-icons left">mail_outline</i>Contato</a></li>
				</ul>
		</div>

	</header>
	<main>

		<div class="blue lighten-4" style="height:91vh">
		
			<button ><a href="cotacao"> Fazer cotação </a></button>
			<h1>Faça a cotação do seu veículo</h1>	

		</div>
		<!--Seção de coberturas-->
		<div style="height:100vh">
				
				<h2 class="center-align">Coberturas básicas</h2>
				<div class="row">		
					<div class="col 3">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src='{% static "app.svg" %}' alt="Acidente Pessoal de Passageiros" width="150px" height="150px">
							</div>
							<div class="card-content">
								<span class="card-content activator grey-text text-darken-4">Acidente Pessoal de Passageiros<i class="material-icons right">more_vert</i></span>		
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Acidente Pessoal de Passageiros<i class="material-icons right">close</i></span>
								<p>Here is some more information about this product that is only revealed once clicked on.</p>
							</div>
						</div>
					</div>
					<div class="col 3">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img src='{% static "alagamento.svg" %}' alt="Alagamento" width="150px" height="150px">
							</div>
							<div class="card-content">
								<span class="card-content activator grey-text text-darken-4">Alagamento<i class="material-icons right">more_vert</i></span>		
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Alagamento<i class="material-icons right">close</i></span>
								<p>Here is some more information about this product that is only revealed once clicked on.</p>
							</div>
						</div>
					</div>

					<div class="col 3">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img src='{% static "pt.svg"%}' alt="Perca Total" width="150px" height="150px">										</div>
							<div class="card-content">
								<span class="card-content activator grey-text text-darken-4">Perca Total<i class="material-icons right">more_vert</i></span>		
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Perca Total<i class="material-icons right">close</i></span>
								<p>Here is some more information about this product that is only revealed once clicked on.</p>
							</div>
						</div>
					</div>

					<div class="col 3">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img src='{% static "dc.svg" %}' alt="Danos Corporais a Terceiros" width="150px" height="150px">										</div>
							<div class="card-content">
								<span class="card-content activator grey-text text-darken-4">Danos Corporais a Terceiros<i class="material-icons right">more_vert</i></span>		
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Danos Corporais a Terceiros<i class="material-icons right">close</i></span>
								<p>Here is some more information about this product that is only revealed once clicked on.</p>
							</div>
						</div>
					</div>	
				</div>
				<div>
					<h2 class="center-align">Coberturas adicionais</h2>
					<div class="row">		
							<div class="col 6">
								<div class="card">
									<div class="card-image waves-effect waves-block waves-light">
										<img src='{% static "carro-reserva.svg"%}' alt="Carro Reserva" width="150px" height="150px">
									</div>
									<div class="card-content">
										<span class="card-content activator grey-text text-darken-4">Carro Reserva<i class="material-icons right">more_vert</i></span>		
									</div>
									<div class="card-reveal">
										<span class="card-title grey-text text-darken-4">Carro Reserva<i class="material-icons right">close</i></span>
										<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>
							<div class="col 3">
								<div class="card">
									<div class="card-image waves-effect waves-block waves-light">
										<img src='{% static "chaveiro.svg"%}' alt="Chaveiro" width="150px" height="150px">
									</div>
									<div class="card-content">
										<span class="card-content activator grey-text text-darken-4">Chaveiro<i class="material-icons right">more_vert</i></span>		
									</div>
									<div class="card-reveal">
										<span class="card-title grey-text text-darken-4">Chaveiro<i class="material-icons right">close</i></span>
										<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>

					</div>
				</div>			
		</div>

		<!--Texto sobre informações-->
		<section>
			<h2>Porque fazer um seguro auto?</h2>
			<div>
				<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
			</div>
			<div>
				<img src='{% static "carro-protegido.jpg"%}' alt="Porque fazer seguro auto">
			</div>
		</section>

		<br><hr><br>

		<!--Seguradoras parceiras-->
		<section>
			<h2>Seguradoras parceiras</h2>
			<ul>
				<li>
					<a href="https://www.portoseguro.com.br/" target="_blank">
						<img src="../img/porto-seguro.jpg" alt="Porto Seguro" height="100px">
					</a>
				</li>
				<li>
					<a href="http://www.bradescoseguros.com.br" target="_blank">
						<img src="../img/bradesco.png" alt="Brasdesco Seguros" height="100px">
					</a>
				</li>
				<li>
					<a href="http://www.tokiomarine.com.br/" target="_blank">
						<img src="../img/tokio.jpg" alt="Toko Marine"	height="100px">
					</a>
				</li>
				<li>
					<a href="https://sompo.com.br/" target="_blank">
						<img src="../img/sompo.png" alt="Sompo" height="100px">
					</a>
				</li>
			</ul>
		</section>
	</main>

	<br><br><hr><br>

{% endblock %}