<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="pt-br">
<html>
<head>
	<title>Dados do Segurado</title>
</head>
<body>

	<form>
		
		Você é o segurado?<br>
		<input type="radio" name="segurado" value="Sim" checked> Sim
  		<input type="radio" name="segurado" value="Nao"> Nao<br>
			<!-- so aparecem se a resposta de pergunta acima for não, caso contrario aparecem preenchidos-->
	  		Nome completo do segurado:<br>
			<input type="text" name="Nome Completo" maxlength="50" required=""><br>
			Sexo do segurado:<br>
			<input type="radio" name="gender" value="male" checked> Masculino
	  		<input type="radio" name="gender" value="female"> Feminino<br>


	  		CPF/CNPJ:<br>
	  		<input type="text" name="cpf/cnpj" required><br>

	  		Data de Nascimento:<br>
	  		<input type="date" name="bday" required><br>

	  		Seguro Novo?<br>
	  		<input type="radio" name="novo" value="yes" checked> Sim
	  		<input type="radio" name="novo" value="no"> Não<br>
	  			<!--caso a resposta seja sim, prosseguir, se não: -->
	  			vigência do seguro anterior(término)<br>
	  			<input type="date" name="vigência" required><br>
	  			
	  			Seguradora:<br>
	  			<input type="text" name="seguradora" required><br>
	  			
	  			Classe de Bônus:<br>
	  			<input type="number" name="bonusqtd" min="0" max="10" value="0" required><br>
	  			
	  			Numero de Sinistros:<br>
	  			<input type="number" name="Sinistrosqtd" min="0" value="0" required><br><br>
	  			
	  			<input type="submit" name="enviar" value="Prosseguir">
	</form>


</body>
</html>