<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>Dados das Analises de Risco</title>
</head>
<body>

	<form>
     	Distância do Trabalho<br>
     	<input type="text" name="dist">Km<br>

        Chassi Remarcado<br>
        <input type="radio" name="cremar" value="Sim"> Sim
  		<input type="radio" name="cremar" value="Nao" checked> Nao<br>

        Veiculo Blindado<br>
        <input type="radio" name="blindado" value="Sim"> Sim
  		<input type="radio" name="blindado" value="Nao" checked> Nao<br>

        Tipo do Veículo<br>
        <select name="relacao" required>
					<option value="A">A</option>
					<option value="B">B</option>
		</select><br>

        Isenção Fiscal<br>
        <input type="radio" name="isfis" value="Sim"> Sim
  		<input type="radio" name="isfis" value="Nao" checked> Nao<br>

        Categoria/Marca anti-furto<br>
        <input type="radio" name="antifurto" value="Sim"> Sim
  		<input type="radio" name="antifurto" value="Nao" checked> Nao<br>
	</form>

</body>
</html>