<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>Dados Pessoais</title>
</head>
<body>
	<form>
		
		Nome completo:<br>
		<input type="text" name="Nome Completo" maxlength="50" required=""><br>
		
		Sexo:<br>
		<input type="radio" name="gender" value="male" checked> Masculino
  		<input type="radio" name="gender" value="female"> Feminino<br>

		e-mail:<br>
		<input type="email" name="e-mail" maxlength="50" required=""><br>

		Telefone:<br>
		<input type="tel" name="telefone" maxlength="30" required=""><br>

		<input type="submit" name="enviar" value="Prosseguir">






	</form>

</body>
</html>